/* Root colors */
:root {
  --navy: #0A192F;
  --charcoal: #1B1F23;
  --light-charcoal: #394867;
  --light-gray: #E6E8EA;
  --white: #F9FAFB;
  --dull-white: #D1D5DB;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-header {
  background-color: var(--navy);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--white);

}

.logo-image {
  width: 5em;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent !important;
  overflow-x: hidden;
}

ngx-particles {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1 !important;
  pointer-events: none;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}